version: '3.8'

services:
  db:
    image: postgres
    container_name: real_state_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: real_estate_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: real_estate_api
    ports:
      - "8080:8080"
    environment:
      GIN_MODE: debug
      DB_HOST: db
      DB_NAME: real_estate_db
      DB_PASS: password
      DB_PORT: 5432
      DB_USER: admin
      PORT: 8080
      HOST: localhost:8080
      BASE_PATH:
      FILE_PATH: /app/public
      FILE_URL: uploads/public
      MAX_UPLOAD_SIZE: 10
      ALLOWED_MIME_TYPES: image/jpeg,image/png,image/webp
    depends_on:
      - db
    volumes:
      - ./frontend/assets/uploads/public:/app/public

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        API_URL: http://localhost:8080
        LOCALE: pt
    container_name: real_estate_frontend
    ports:
      - "3000:80"
    depends_on:
      - api
    volumes:
      - ./frontend/assets/uploads/public:/usr/share/nginx/html/assets/uploads/public

volumes:
  postgres_data: